/* ---- RESET ---- */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* ---- STYLES ---- */

.imagens-slider{
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
}

.imagens-slider .slide{   
    display: flex;
    align-items: center;
    width: 100vw;
    height: 100%;
    position: absolute;
    transition: 0.5 ease-out;
    opacity: 0;
}

.slide .text-block{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 250px;
    margin-left: 13%;
    padding: 15px;
    font-family: 'Roboto', Courier, monospace;
    background-color: #fff;
}

.text-block .botao{
    font-size: 18px;
    font-weight: 700;
}

.seta-avancar,
.seta-voltar{
    position: absolute;
    z-index: 1;
}

.seta-voltar{
    left: 4%;
}

.seta-avancar{
    right: 4%;
    transform: rotate(180deg);
}

.seta-voltar img,
.seta-avancar img{
    width: 50px;
    height: 50px;
}

.opacidade{
    opacity: 0.6;
    cursor: default;
}

.slide.mostrar{
    opacity: 1;
}

/* ---- GENERAL ---- */

.fundo-verde{
    background-image: url(../images/imagem1.png);
}

.fundo-rosa{
    background-image: url(../images/imagem2.png);
}

.fundo-laranja{
    background-image: url(../images/imagem3.png);
}

.fundo-azul{
    background-image: url(../images/imagem4.png);
}

.fundo-verde, .fundo-rosa,
.fundo-laranja, .fundo-azul{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.botao.verde{
    color: #d9dd10;
}

.botao.laranja{
    color: #a63a17;
}

.botao.azul{
    color: #10acdd;
}

.botao.rosa{
    color: #c50000;
}

/* ---- RESPONSIVE ---- */

@media(max-width:630px){
   .imagens-slider{
    justify-content: center;
   }

   .imagens-slider .slide{
    justify-content: center;
   }

   .slide .text-block{
    margin: 0;
   }
   
    .seta-voltar, 
   .seta-avancar{
    position: relative;
    bottom: 20%;
    margin: 30px;
   }
}

/* ---- HOME ---- */

.fa-home{
    position: absolute;
    font-size: 30px;
    right: 0;
    margin: 10px;
    z-index: 1;
}

.fa-home:hover{
    transition: 0.5s;
    color: rgba(202, 71, 23, 0.918);
}